## Build2
.bdep/

# Output files.
hello-world/hello-world

# Testscript output directory (can be symlink).
hello-world/test-hello-world

# Build files.
build/config.build
build/root/
build/bootstrap/
build/build/

# Local default options files.
.build2/local/

# Compiler/linker output.
*.d
*.t
*.i
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc
